python-dotenv
redis

streamlit
streamlit-authenticator
streamlit_mic_recorder
streamlit-pills
streamlit_modal
# streamlit-javascript
# streamlit-pydantic
# streamlit-chat

langchain
langchain_core
langgraph
langchain_openai
langchain_community

gtts
ollama
openai
assemblyai
mistralai
