python-dotenv

streamlit
streamlit-chat
streamlit_authenticator
streamlit_mic_recorder
streamlit-pills
streamlit-pydantic

gtts
ollama
openai
assemblyai
mistralai


langchain
langchain_core
langgraph
langchain_openai
langchain_community